html {
  font-size: 15px; }

.welcome {
  height: 10vh;
  display: flex;
  background-size: cover;
}

.head {
  background: #fff;
  padding: 0.5rem 0;
}

.head .container-fluid{
  display: flex;
  align-items: center;
  margin: 0 0 0 0;

}
