html {
  font-size: 15px; }

.welcome {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover; }

.head {
  background: #fff;
  padding: 0.5rem 0; }

.head .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.head .home {
  text-decoration: none;
  color: black; }

.head .home h4 {
  font-size: 1rem; }

.copyright {
  opacity: 0.5;
  font-size: 0.6rem;
  margin-top: 10px; }

.menu-bar {
  margin-left: auto; }

.language-choice,
.language-choice-portfolio,
.menu-bar {
  background: transparent;
  border: transparent; }

.language-choice-portfolio:focus,
.language-choice:focus,
.menu-bar:focus {
  outline: 0; }

#language-menu,
#mobile-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#language-menu ul,
#mobile-menu ul {
  list-style: none; }

#language-menu ul a,
#mobile-menu ul a,
.enter-menu h4 a,
.enter-menu li a {
  text-decoration: none;
  color: black; }

.enter-menu h4 a,
.enter-menu li a {
  font-size: 1.8rem; }

#description {
  font-size: 0.5rem;
  opacity: 0.8; }

#nav-menu ul,
.nav ul {
  list-style: none; }

.portfolio-menu,
.portfolio-menu a {
  color: black;
  list-style: none; }

#works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.images {
  background: url("../images/home1.png") no-repeat center top;
  background-size: cover;
  height: 400px;
  width: 600px; }

#image1 {
  background: url("../images/image1.png") no-repeat center top;
  background-size: cover;
  height: 400px;
  width: 600px; }

#image2 {
  background: url("../images/image2.png") no-repeat center top;
  background-size: cover;
  height: 400px;
  width: 600px; }

#image3 {
  background: url("../images/image3.png") no-repeat center top;
  background-size: cover;
  height: 400px;
  width: 600px; }

.col-12 {
  padding-right: 15px;
  padding-left: 30px; }

.col-12 div {
  margin-bottom: 2rem; }

@media (max-width: 396px) {
  .images {
    background: url("../images/home-mobile.png") no-repeat center top;
    background-size: cover;
    height: 268px;
    width: 400px; } }
@media (min-width: 670px) {
  .col-12 {
    padding-right: 15px;
    padding-left: 60px; } }
@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .language-choice-portfolio {
    margin-left: auto; }

  .menu-bar {
    margin-left: auto; }

  .enter-menu h4,
  .enter-menu p,
  .enter-menu ul h4,
  .enter-menu ul li p {
    font-size: 0.6rem; }

  .images {
    width: 100%;
    height: 478px; }

  .enter-menu {
    min-width: 100%; }

  .portfolio-menu {
    position: fixed; }

  .col-md-7 {
    margin-left: 150px;
    min-width: 100%; } }
@media (min-width: 992px) {
  #language-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto; }

  #language-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  #language-menu ul li {
    padding-right: 0.5rem; }

  #language-menu ul a {
    color: darkgrey; }

  .images {
    width: 100%;
    height: 478px; }

  #description {
    text-align: end; }

  .col-lg-10 {
    margin-left: 250px; } }
@media (min-width: 1200px) {
  .images {
    width: 100%;
    height: 568px; }

  #description {
    text-align: end; }

  .portfolio-menu {
    left: 0; } }

/*# sourceMappingURL=styles.css.map */